configuration {
	yoffset: 5;
	xoffset: 5;
	run-shell-command: "/usr/bin/alacritty -e {cmd}";
	modi: "run,ssh,filebrowser";
	sidebar-mode: true;
	parse-hosts: false;
	parse-known-hosts: true;
	row-tab: "";
	row-select: "Tab";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
@theme "gruvbox-dark.rasi"
